html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html { 
    overflow-y:scroll
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Take note, this is a hack in order to make Chakra display the checkbox on opposite sides. */
/* New - custom to override spacing */
.checkbox-custom > .chakra-checkbox__label { 
    margin-inline-start: 1rem !important
}